@import "./responsive.scss";

body{
    margin: 0px;
    padding:0px;
    overflow: hidden;
}

.layout{
    background-color: blueviolet;
    height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    overflow: hidden;
    font-family: sans-serif;

    @include lg{
        background-color: aquamarine;
        max-width: 1200px;
    }

    @include md{
        background-color: aliceblue;
        max-width: 900px;
    }

    @include sm{
        background-color: salmon;
        max-width: 600px;
    }


}